<h2>Tonight, you're watching...</h2>

<h1 class="reveal"><%= @movie.title %></h1>

<div class="options">
  <a class="button1" href="/jars/<%= current_jar.id %>/pick">Redraw</a>
  <form action="/movies/<%= @movie.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input class="button1" type="submit" value="Delete Movie">
  </form>
  <a class="button1" href="/jars/<%= current_jar.id %>">Go Back</a>
</div>