<section id="login">
  <h1>Movie Jars</h1>
  <h3>Log In</h3>

  <form action="/login" method="POST">
    <input name="username" id="username" placeholder="Username">
    <input name="password" id="password" placeholder="Password">

    <input type="submit" value='Log In'>
  </form>
</section>
