<h1><%= @movie.title %></h1>
<h2><%= @movie.description %></h2>

<section>
  <a class="button1" href="/movies/<%= @movie.id %>/edit">Edit Movie</a>
  <form action="/movies/<%= @movie.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input class="button1" type="submit" value="Delete Movie">
  </form>
</section>