body {
  background-color: #ebf8ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 10%;
  background-color: #74adcc;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #fdfdfd;
  background-color: #144966;
  padding: 5px;
  border-radius: 5px;
}

.auth_block {
  width: 20%;
  padding: 10px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  clear: both;
  text-align: center;
}

.flex-container {
  text-align: initial;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  padding: 20px;
  font-weight: bold;
}

input {
  padding: 5px;
  margin: 5px 0px;
}

#logout {
  margin: 10px;
  padding: 10px;
}