body {
  background-color: #ebf8ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 10%;
  background-color: #74adcc;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #fdfdfd;
  background-color: #144966;
  padding: 5px;
  border-radius: 5px;
}

input {
  padding: 5px;
  margin: 5px 0px;
}

.button1 {
  background-color: #144966;
  padding: 5px;
  color: #fdfdfd;
  border-style: none;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 5px;
}

.auth_block {
  width: 20%;
  padding: 10px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear {
  clear: both;
}

.wrapper {
  text-align: center;
}

.reveal {
  font-weight: bold;
  font-size: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.flex-item {
  padding: 10px;
  margin-top: 30px;  /* Magic! */
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logout {
  margin: 10px;
  padding: 10px;
}