<section class="auth_block">
  <h1>Movie Jars</h1>
  <h3>Log In</h3>

  <form action="/login" method="POST">
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <br />
    <input type="submit" value='Log In'>
  </form>

  <h4>Not a user?</h4>
  <h4><a href='/signup'>Click here to sign up</a></h4>
</section>
