<section class="auth_block">
  <h3>Sign Up</h3>

  <form action="/signup" method="POST">
    <p style="display: <%= @user && @user.errors.any? ? "initial" : "none"%>;">Invalid Username and/or Password</p><br />
    <input text="text" name="name" id="name" placeholder="Name">
    <input text="text" name="email" id="email" placeholder="Email">
    <input text="password" name="password" id="password" placeholder="Password">
    <br />
    <input type="submit" value='Log In'>
  </form>

  <h4>Already a user?</h4>
  <h4><a href='/'>Click here to log in.</a></h4>
</section>