<section>
  <h3>Sign Up</h3>

  <form action="/signup" method="POST">
    <input name="name" id="name" placeholder="Name">
    <input name="email" id="email" placeholder="Email">
    <input name="password" id="password" placeholder="Password">
    <br />
    <input type="submit" value='Log In'>
  </form>

  <h4>Already a user?</h4>
  <h4><a href='/'>Click here to log in.</a></h4>
</section>