<section class="auth_block">
  <h3>Sign Up</h3>

  <form action="/signup" method="POST">
    <% if @user %>
      <% @user.errors.full_messages.each do |message| %>
        <p class="error"><%= message %></p>
      <% end %>
    <% end %>
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <br />
    <input type="submit" value='Sign Up'>
  </form>

  <h4>Already a user?</h4>
  <h4><a class="button1" href='/'>Click here to log in</a></h4>
</section>